<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

	<!-- Bootstrap CSS -->
	<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<!-- RazorPay Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}" />
	
	<link rel="stylesheet" th:href="@{/css/counselingForm.css}">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Otomanopee+One&display=swap"
		rel="stylesheet">

	<title>Services</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #142f44;">
		<div class="container-fluid">
			<a class="mx-3 navbar-brand text-white" href="/">TECHNO-HUB</a>
			<button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav d-flex align-items-center justify-content-center fs-5" style="width: 100%;">
					<li class="nav-item mx-2">
						<a class="nav-link active text-white" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item mx-2">
						<a class="nav-link text-white" href="/services">Services</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item mx-2">
						<form action="#" method="post" th:action="@{/user/profile}">
							<button type="submit" class="nav-link text-white border-0"
								style="background-color: transparent;">Profile</button>
							<input type="text" name="Email" th:value="${#authentication.name}" hidden>
							<!-- <a class="nav-link text-white"
								th:href="@{~/profile/(username=${#authentication.name})}">Profile</a> -->
						</form>
					</li>
					<a sec:authorize="isAnonymous()" class="signinbtn my-3" href="/login">
						<button button type="button" class="btn btn-outline-warning ">
							<img src="https://img.icons8.com/ios-filled/22/000000/sign-up-in-calendar.png"
								alt="Sign-in Icon" class="d-inline-block align-text-middle" style="filter: invert(1);">
							Sign-In
						</button>
					</a>
					<a sec:authorize="isAuthenticated()" class="signoutbtn my-3" href="/logout">
						<button button type="button" class="btn btn-outline-warning ">
							<img src="https://img.icons8.com/ios-filled/22/000000/sign-up-in-calendar.png"
								alt="Sign-in Icon" class="d-inline-block align-text-middle" style="filter: invert(1);">
							Sign-Out
						</button>
					</a>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container text-center my-5">
		<h1 class="font2">We can help you with</h1>
	</div>
	<div class="container my-3">
		<div class="flex-row my-5 d-flex justify-content-center">
			<div class="card border-dark mx-4" style="width: 18rem;">
				<img src="https://img.icons8.com/color/100/000000/counselor.png" class="card-img-top" alt="..."
					style="width: fit-content; margin: auto;">
				<div class="card-body align-items-center justify-content-center flex-column d-flex">
					<p class="card-text">Ask an Expert</p>
					<!-- Button trigger modal -->
					<button type="button"
						class="btn btn-outline-primary d-flex justify-content-center d-md-table mx-auto"
						data-toggle="modal" data-target="#mentoring">
						Mentoring
					</button>
				</div>
			</div>
			<!-- <div class="card border-0" style="width: 18rem;">
				<img src="https://img.icons8.com/color/100/000000/coach-.png" class="card-img-top" alt="..."
					style="width: fit-content; margin: auto;">
				<div class="card-body align-items-center justify-content-center flex-column d-flex"> -->
			<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's content.</p>
					 Button trigger modal -->
			<!--<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#coaching">
						Coaching
					</button>
				</div>
			</div>
			<div class="card border-0" style="width: 18rem;">
				<img src="https://img.icons8.com/ios/100/000000/mental-state.png" class="card-img-top" alt="..."
					style="width: fit-content; margin: auto;">
				<div class="card-body align-items-center justify-content-center flex-column d-flex"> -->
			<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
						card's content.</p>
					Button trigger modal -->
			<!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#counseling">
						Counseling
					</button>
				</div>
			</div> -->
			<div class="card border-dark mx-4" style="width: 18rem;">
				<img src="https://img.icons8.com/color/100/000000/tour-guide.png" class="card-img-top" alt="..."
					style="width: fit-content; margin: auto;">
				<div class="card-body align-items-center justify-content-center flex-column d-flex">
					<p class="card-text">Ask an Expert</p>
					<!--Button trigger modal -->
					<button type="button"
						class="btn btn-outline-primary d-flex justify-content-center d-md-table mx-auto"
						data-toggle="modal" data-target="#guidance">
						Project Guidance
					</button>
				</div>
			</div>

		</div>
	</div>
	<div class="text-center text-secondary my-2">* Minimum of 3 hours and maximum of 5 hours of mentoring 
			</div>
	<!-- Modal -->
	<div class="modal fade" id="mentoring" tabindex="-1" role="dialog" aria-labelledby="mentoringTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title w-100" id="mentoringTitle">Mentoring</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="mentoringForm" id="mentoringForm" method="POST" action="/save-request">
						<div class="form-group">
							<label for="firstName">First Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="firstName" placeholder="" required>
						</div>
						<!-- Email -->
						<input type="text" class="form-control" name="email" placeholder=""
							th:value="${#authentication.name}" hidden>
						
						<!-- Category -->
						<input type="text" class="form-control" name="category" placeholder="" value="mentoring" hidden>

						<div class="form-group">
							<label for="lastName">Last Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="lastName" placeholder="" required>
						</div>
						<div class="form-group">
							<label for="description">Description<span class="red-star">*</span></label>
							<textarea class="form-control" name="description" rows="3" required></textarea>
						</div>
						<small class="text-muted">By clicking the 'Pay' button, you confirm that you accept our
							Terms of use and Privacy Policy.</small>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary w-100" onclick="isValid('mentoringForm')">Pay &#8377;
						2500</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="coaching" tabindex="-1" role="dialog" aria-labelledby="coachingTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title w-100" id="coachingTitle">Coaching</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="coachingForm" id="coachingForm" method="POST" action="/save-request">
						<div class="form-group">
							<label for="firstName">First Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="firstName" placeholder="" required>
						</div>
						<div class="form-group">
							<label for="lastName">Last Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="lastName" placeholder="" required>
						</div>
						<!-- Email -->
						<input type="text" class="form-control" name="email" placeholder=""
							th:value="${#authentication.name}" hidden>

						<!-- Category -->
						<input type="text" class="form-control" name="category" placeholder="" value="coaching" hidden>
						<div class="form-group">
							<label for="subject">Subject<span class="red-star">*</span></label>
							<select class="form-control" name="subject" required>
								<option value="biology">Biology</option>
								<option value="chemistry">Chemistry</option>
								<option value="commerce">Commerce</option>
								<option value="computer Science">Computer Science</option>
								<option value="economics">Economics</option>
								<option value="english">English</option>
								<option value="environmental Studies">Environmental Studies</option>
								<option value="geography">Geography</option>
								<option value="hindi">Hindi</option>
								<option value="humanities">Humanities</option>
								<option value="journalism">Journalism</option>
								<option value="law">Law</option>
								<option value="maths">Maths</option>
								<option value="physics">Physics</option>
								<option value="science">Science</option>
								<option value="social science">Social Science</option>
								<option value="other">Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="description">Description<span class="red-star">*</span></label>
							<textarea class="form-control" name="description" rows="3" required></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary w-100" onclick="isValid('coachingForm')">Pay &#8377;
						2500</button>
					<small class="text-muted">By clicking the 'Pay' button, you confirm that you accept our
						Terms of use and Privacy Policy.</small>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="counseling" tabindex="-1" role="dialog" aria-labelledby="counselingTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title w-100" id="counselingTitle">Counseling</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="counselingForm" id="counselingForm" method="POST" action="/save-request">
						<div class="form-group">
							<label for="firstName">First Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="firstName" required placeholder="">
						</div>
						<div class="form-group">
							<label for="lastName">Last Name<span class="red-star">*</span></label>
							<input type="text" class="form-control" name="lastName" required placeholder="">
						</div>
						<!-- Email -->
						<input type="text" class="form-control" name="email" placeholder=""
							th:value="${#authentication.name}" hidden>

						<!-- Category -->
						<input type="text" class="form-control" name="category" placeholder="" value="counseling"
							hidden>
						<div class="form-group">
							<label for="subject">Field<span class="red-star">*</span></label>
							<select class="form-control" name="subject" required>
								<option value="technology">Technology Based Counseling</option>
								<option value="project">Project Based Counseling</option>
								<option value="research">Research Based Counseling</option>
								<option value="career">Career Based Counseling</option>
								<option value="other">Other</option>
							</select>
						</div>
						<div class="form-group">
							<label for="description">Description<span class="red-star">*</span></label>
							<textarea class="form-control" name="description" rows="3" required></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary w-100" onclick="isValid('counselingForm')">Pay &#8377;
						2500</button>
					<small class="text-muted">By clicking the 'Pay' button, you confirm that you accept our
						Terms of use and Privacy Policy.</small>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="guidance" tabindex="-1" role="dialog" aria-labelledby="guidanceTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h5 class="modal-title w-100" id="guidanceTitle">Guidance</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="guidanceForm" id="guidanceForm" method="POST" action="/save-request">
						<div class="form-group">
							<label for="firstName">First Name<span class="red-star">*</span></label>
							<input type="text" required class="form-control" name="firstName" placeholder="">
						</div>
						<div class="form-group">
							<label for="lastName">Last Name<span class="red-star">*</span></label>
							<input type="text" required class="form-control" name="lastName" placeholder="">
						</div>
						<!-- Email -->
						<input type="text" class="form-control" name="email" placeholder=""
							th:value="${#authentication.name}" hidden>

						<!-- Category -->
						<input type="text" class="form-control" name="category" placeholder="" value="guidance" hidden>
						<div class="form-group">
							<label for="description">Description<span class="red-star">*</span></label>
							<textarea class="form-control" name="description" rows="3" required></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-primary w-100" onclick="isValid('guidanceForm')">Pay &#8377;
						2500</button>
					<small class="text-muted">By clicking the 'Pay' button, you confirm that you accept our
						Terms of use and Privacy Policy.</small>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
		<!-- Section: Social media -->
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
			<!-- Left -->
			<div class="me-5 d-none d-lg-block">
				<span>Get connected with us on social networks:</span>
			</div>
			<!-- Left -->

			<!-- Right -->
			<div>
				<a href="https://www.facebook.com/Techno-Hub-101083528873894" target="_blank" class="me-4 text-reset">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="https://www.youtube.com/channel/UCZq6HxzLaVid7LycUV5jWZg" target="_blank"
					class="me-4 text-reset">
					<i class="fab fa-youtube"></i>
				</a>
				<a href="https://www.instagram.com/technohublaboratories/" target="_blank" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
				</a>
				<a href="https://www.linkedin.com/company/techno-hub-org/" target="_blank" class="me-4 text-reset">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
			<!-- Right -->
		</section>
		<!-- Section: Social media -->

		<!-- Section: Links  -->
		<section class="">
			<div class="container text-center text-md-start mb-3 mt-4">
				<!-- Grid row -->
				<div class="row">
					<!-- Grid column -->
					<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<i class="fas fa-gem me-3"></i>Techno-Hub
						</h6>
						<p>
							Techno-Hub is a progressive, Uttarakhand based woman-led start-up.
						</p>
					</div>
					<!--

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Angular</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">React</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Vue</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Laravel</a>
                        </p>
                    </div>
                    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Settings</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    -->
					<div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Contact
						</h6>
						<p><i class="fas fa-home me-3"></i> C-27 THDC Colony, Near Bengali Kothi Chowk, Dehradun,
							Uttrakhand</p>
						<p>
							<i class="fas fa-envelope me-3"></i>
							info@techno-hub.org
						</p>
						<p><i class="fas fa-phone me-3"></i> +91 9084687772</p>
						<!-- <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>-->
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
			© 2021 Copyright:
			<a class="text-reset fw-bold" href="https://techno-hub.org/">Techno-Hub</a>
			All Rights Reserved
		</div>
		<!-- Copyright -->
	</footer>
	<!-- Footer -->
	
	<script type="text/javascript" th:src="@{/js/counselingForm.js}"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>